/*basic styles for the page*/
* {
    text-decoration:none;
  }
  
  body {
    font-family: Arial;
    padding: 0px;
    margin:0;
    background: white;
  }
.head{
    padding: 30px;
    text-align: center;
    background: rgb(228, 225, 225);
}
.head h1{
    font-size: 50px;
}
.container{
    display:grid;
    grid-template-columns: 1fr;   
}





/* Navigation Styles*/
.topnav{
    background-color: rgb(33, 160, 182);
    text-decoration: none;
    display: flex;
    justify-content: space-between;   
}
.leftside{
    display:flex;
}
.navlinks{
    padding:14px 16px;
    transition: border-bottom 0.5s;
    transition: background-color 0.5s;  
}
.navlinks:hover{
    background-color:rgba(235, 232, 232, 0.425);
}
.navlinks a{
    color:white;
    border-bottom:1px solid transparent;
    transition: border-bottom 0.5s;
    transition: background-color 0.5s;
}
.navlinks a:hover{
    border-bottom:1px solid white;
}
.active{
    background-color:rgba(235, 232, 232, 0.425);
    border-bottom:1px solid white
  }



/*main styles for Subjects*/
.items{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.card{
    position:relative;
}
.card-img{
    height: 350px;
    width: 100%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
.imgshade1{
    position: absolute;
    top: 0;
    padding-top:50px;
    padding-left: 20px;
    padding-right:20px;
    height:100%;
    color:white;

}
.imgshade1 p{
    transition:1s;
    color:transparent;
    font-weight: 600;

}
.imgshade1:hover p{
    color:white;
}

.shadow{
    transition:1s;
    filter: brightness(10%);
}
@media screen and (max-width:800px){
    .items{
        display:grid;
        grid-template-columns: 1fr;  
    }
    .card-img{
        height:250px;
    }

}



